@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.box {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 300px;
	display: inline-block;

}

h1 {
	margin: auto;
	font-size: 50px;
	font-family: 'Fascinate Inline', cursive;
	text-align: center;
	padding: 0px;
}

h2 {
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	font-size: 30px;
	padding: 5px;
	margin: 20px 0 -35px 0px;
}

div {
	border-radius: 2.5em;
	background-color: #5a90e8;
	background-size: contain;
	width: 100%;
	height: 100%;
}

div:hover {
  transition-duration: 1s, 2s;
	background-color: white;
}

#wrapper {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
	padding: 50px;
}
